@page

<h2>Welcome</h2>
<p>Welcome to Anfield Taekwondo!</p>

<h2>Location</h2>
<p>We are located <a target="_blank" href="https://maps.app.goo.gl/xC2BQRZ6tuRAjUn79">here</a> at St John Chrysostom Church, Everton, a short distance from Liverpool City Centre.</p>

<p>For more information, contact Mark on 07854656736</p>
<p>Alternatively see our instagram <a target="_blank" href="https://www.instagram.com/anfieldtkd/">@@anfieldtkd</a></p>
