@page

<h2>Welcome</h2>
<p>Welcome to Anfield Taekwondo!</p>
<p style="border-radius: 5px; padding: 1rem; background-color: #2d3436; color: white;"><span style="font-variant: small-caps; text-transform:lowercase; color: #d63031">Under Construction!</span><br />This website is still under construction, but in the meantime we have added some useful information below.</p>

<h2>Location</h2>
<p>We are located <a target="_blank" href="https://maps.app.goo.gl/xC2BQRZ6tuRAjUn79">here</a> at St John Chrysostom Church, Everton, a short distance from Liverpool City Centre.</p>

<h2>Classes</h2>
<p>We run two classes a week on a Monday and Friday from 5pm.</p>

<h2>Contact</h2>
<p>For more information, contact Mark on 07854656736</p>
<p>Alternatively see our instagram <a target="_blank" href="https://www.instagram.com/anfieldtkd/">@@anfieldtkd</a></p>
